@import "tailwindcss";

@layer {
  :root {
    --primary: oklch(65% 0.25 145);
    --background: 255 255 255;
    --foreground: 10 10 20;
  }

  .dark {
    --primary: oklch(75% 0.3 145);
    --background: 10 10 20;
    --foreground: 255 255 255;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}